// views/index.ejs

<!doctype html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Biblioteca'}); %>
<body>

  <%- include('partials/header.ejs'); %>

  <div class="splash-container">
    <div class="splash">
      <p class="splash-subhead">
        Prenota il tuo posto.
      </p>
      <p>
        <a href="/studenti" class="pure-button pure-button-primary">Vai alla lista</a>
      </p>
    </div>
  </div>

</body>
</html>